# Loan Prediction

#### Column Description
* **Loan_ID** -	Unique Loan ID
* **Gender** -	Male/ Female
* **Married** -	Applicant married (Y/N)
* **Dependents** -	Number of dependents
* **Education** -	Applicant Education (Graduate/ Under Graduate)
* **Self_Employed** -	Self employed (Y/N)
* **ApplicantIncome** -	Applicant income
* **CoapplicantIncome** -	Coapplicant income
* **LoanAmount** -	Loan amount in thousands
* **Loan_Amount_Term** -	Term of loan in months
* **Credit_History** -	credit history meets guidelines
* **Property_Area** -	Urban/ Semi Urban/ Rural
* **Loan_Status** -	(Target) Loan approved (Y/N)


## Set Up

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

train = pd.read_csv('./data/train.csv')
print(train.shape)
train.head()

(614, 13)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [2]:
test = pd.read_csv('./data/test.csv')
print(test.shape)
test.head()

(367, 12)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

## Examining the Data

In [3]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [4]:
# Unique text values per column
obj_cols = list(train.columns[train.dtypes=='object'])
obj_cols.remove('Loan_ID')
obj_cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [5]:
# Unique values of each column with 'object' data types
# Will help determine how to preprocess them into number data types
for col in obj_cols:
    print(f"{col}:")
    print(f"{train[col].unique()}\n")

Gender:
['Male' 'Female' nan]

Married:
['No' 'Yes' nan]

Dependents:
['0' '1' '2' '3+' nan]

Education:
['Graduate' 'Not Graduate']

Self_Employed:
['No' 'Yes' nan]

Property_Area:
['Urban' 'Rural' 'Semiurban']

Loan_Status:
['Y' 'N']

## Preprocessing Columns & Values

In [45]:
# Make copy of original dataset
ntrain = train.copy()
print(ntrain.shape)
ntrain.head()

(614, 13)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [49]:
# Collect all the columns with 'object' data types (except Loan ID) for preprocessing
obj_cols = [col for col in train.columns[train.dtypes=='object']]
obj_cols.remove('Loan_ID')
obj_cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [52]:
# Binary Encoding the following columns:
# (Generally 0 means 'no' or implies negation, while 1 the opposite)

# Gender
ntrain.loc[ntrain.Gender == 'Male', 'Gender'] = 0
ntrain.loc[ntrain.Gender == 'Female', 'Gender'] = 1
print(ntrain.shape)

# Married
ntrain.loc[ntrain.Married == 'No', 'Married'] = 0
ntrain.loc[ntrain.Married == 'Yes', 'Married'] = 1
print(ntrain.shape)

# Education
ntrain.loc[ntrain.Education == 'Not Graduate', 'Education'] = 0
ntrain.loc[ntrain.Education == 'Graduate', 'Education'] = 1
print(ntrain.shape)

# Self_Employed
ntrain.loc[ntrain.Self_Employed == 'No', 'Self_Employed'] = 0
ntrain.loc[ntrain.Self_Employed == 'Yes', 'Self_Employed'] = 1
print(ntrain.shape)

# Property_Area
ntrain.loc[ntrain.Property_Area == 'Urban', 'Property_Area'] = 1
ntrain.loc[ntrain.Property_Area == 'Rural', 'Property_Area'] = 2
ntrain.loc[ntrain.Property_Area == 'Semiurban', 'Property_Area'] = 3
print(ntrain.shape)

# Loan_Status
ntrain.loc[ntrain.Loan_Status == 'N', 'Loan_Status'] = 0
ntrain.loc[ntrain.Loan_Status == 'Y', 'Loan_Status'] = 1
print(ntrain.shape)

ntrain.head()

(614, 13)
(614, 13)
(614, 14)
(614, 14)
(614, 14)
(614, 14)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,has_child
0,LP001002,0,0,0,1,0,5849,0.0,NaN,360.0,1.0,1,1,0.0
1,LP001003,0,1,1,1,0,4583,1508.0,128.0,360.0,1.0,2,0,1.0
2,LP001005,0,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1,0.0
3,LP001006,0,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1,0.0
4,LP001008,0,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1,0.0

In [ ]:
# Dependents
# Creat a new column called 'has_child'
ntrain.loc[ntrain.Dependents=='0', 'has_child'] = 0
ntrain.loc[ntrain.has_child.isnull(), 'has_child'] = 1

In [53]:
ntrain.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
has_child            float64
dtype: object

,Loan_ID,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,...,Married_encoded,Education_encoded,Self_Employed_encoded,Loan_Status_encoded,Property_Area_encoded,has_child,0,1,2,3
0,LP001002,Male,No,Graduate,No,5849,0.0,NaN,360.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1,0,0,0
1,LP001003,Male,Yes,Graduate,No,4583,1508.0,128.0,360.0,1.0,...,1.0,1.0,0.0,0.0,2.0,1.0,0,1,0,0
2,LP001005,Male,Yes,Graduate,Yes,3000,0.0,66.0,360.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1,0,0,0
3,LP001006,Male,Yes,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1,0,0,0
4,LP001008,Male,No,Graduate,No,6000,0.0,141.0,360.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1,0,0,0

## Finding correlation between columns

In [42]:
ntrain.columns

Index(['Loan_ID', 'Gender', 'Married', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status',
       'Gender_encoded', 'Married_encoded', 'Education_encoded',
       'Self_Employed_encoded', 'Loan_Status_encoded', 'Property_Area_encoded',
       'has_child', '0', '1', '2', '3'],
      dtype='object')

In [44]:
print("==== Correlation between columns ==== \n")

for col in ntrain.columns[6:]:
    if col != ntrain.columns[-1]:
        i = ntrain.columns.get_loc(col)
        while ntrain.columns[i] != ntrain.columns[-1]:
            next_col = ntrain.columns[i+1]
            corr = ntrain[col].corr(ntrain[next_col])
            if abs(corr) > 10:
                print(f"{col} & {next_col}: {abs(corr)*100:.3f}%\n")
            i += 1

==== Correlation between columns ====

TypeError: unsupported operand type(s) for /: 'str' and 'int'

KeyError: 0

In [ ]:
# Gender & Married
sns.countplot(data=train, x='Gender', hue='Married')

In [ ]:
# Gender & LoanAmount
sns.swarmplot(data=train, x='Gender', y='LoanAmount')

In [ ]:
# Gender & has_child
sns.countplot(data=ntrain, x="Gender", hue='has_child')

In [ ]:
# Married & LoanAmount
sns.swarmplot(data=train, x='Married', y='LoanAmount')

In [ ]:
# Married & Loan_Amount_Term

In [ ]:
# Married & has_child
sns.countplot(data=ntrain, x='Married', hue='has_child')

In [ ]:
# Education & ApplicantIncome

In [ ]:
# Education & LoanAmount

In [ ]:
# Self_Employed & ApplicantIncome

In [ ]:
# Self_Employed & LoanAmount

In [ ]:
# ApplicantIncome & CoapplicantIncome

In [ ]:
# ApplicantIncome & LoanAmount

In [ ]:
# CoapplicantIncome & LoanAmount

In [ ]:
# Credit_History & Loan_Status

In [ ]:
# Loan_Status & Rural

In [ ]:
# Gender & Married

# Gender & LoanAmount

# Gender & has_child

# Married & LoanAmount

# Married & Loan_Amount_Term

# Married & has_child

# Education & ApplicantIncome

# Education & LoanAmount

# Self_Employed & ApplicantIncome

# Self_Employed & LoanAmount

# ApplicantIncome & CoapplicantIncome

# ApplicantIncome & LoanAmount

# CoapplicantIncome & LoanAmount

# Credit_History & Loan_Status

# Loan_Status & Rural

In [20]:
for col in ntrain.columns[1:-4]:
    corr = ntrain['Loan_Status'].corr(ntrain[col])*100
    print(f"{col}:{abs(corr):.2f}\n")

AttributeError: 'float' object has no attribute 'shape'

In [ ]:
from sklearn.preprocessing import LabelBinarizer
binarizer = LabelBinarizer()

# Dependents
ntrain.Dependents = ntrain.Dependents.astype(str)
results = binarizer.fit_transform(ntrain["Dependents"])
dependents_encoded = pd.DataFrame(results, columns=['0','1','2','3', 'nan'])

ntrain = pd.concat([ntrain, dependents_encoded], axis=1, sort=False)
ntrain.drop('Dependents', axis=1, inplace=True)
ntrain.drop('nan', axis=1, inplace=True)

ntrain.head()