In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

train = pd.read_csv('./data/train.csv')
print(train.shape)
train.head()

In [12]:
ntrain = train.copy()
from sklearn.preprocessing import LabelBinarizer
binarizer = LabelBinarizer()

# Property_Area
results = binarizer.fit_transform(train["Property_Area"])
property_area_encoded = pd.DataFrame(results, columns=binarizer.classes_)

# Dependents
ntrain.Dependents = ntrain.Dependents.astype(str)
results = binarizer.fit_transform(ntrain["Dependents"])
dependents_encoded = pd.DataFrame(results, columns=['0','1','2','3','nan'])

ntrain = pd.concat([ntrain, property_area_encoded, dependents_encoded], axis=1, sort=False)
ntrain.drop('Property_Area', axis=1, inplace=True)
ntrain.drop('Dependents', axis=1, inplace=True)
ntrain.drop('nan', axis=1, inplace=True)

ntrain.head()

,Loan_ID,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Rural,Semiurban,Urban,0,1,2,3
0,LP001002,Male,No,Graduate,No,5849,0.0,NaN,360.0,1.0,Y,0,0,1,1,0,0,0
1,LP001003,Male,Yes,Graduate,No,4583,1508.0,128.0,360.0,1.0,N,1,0,0,0,1,0,0
2,LP001005,Male,Yes,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Y,0,0,1,1,0,0,0
3,LP001006,Male,Yes,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Y,0,0,1,1,0,0,0
4,LP001008,Male,No,Graduate,No,6000,0.0,141.0,360.0,1.0,Y,0,0,1,1,0,0,0

In [15]:
train[train.Dependents=='3+'].head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
34,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N
61,LP001206,Male,Yes,3+,Graduate,No,3029,0.0,99.0,360.0,1.0,Urban,Y
68,LP001238,Male,Yes,3+,Not Graduate,Yes,7100,0.0,125.0,60.0,1.0,Urban,Y
73,LP001250,Male,Yes,3+,Not Graduate,No,4755,0.0,95.0,NaN,0.0,Semiurban,N

In [17]:
ntrain[ntrain['3'] != 0]

,Loan_ID,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Rural,Semiurban,Urban,0,1,2,3
7,LP001014,Male,Yes,Graduate,No,3036,2504.0,158.0,360.0,0.0,N,0,1,0,0,0,0,1
34,LP001100,Male,No,Graduate,No,12500,3000.0,320.0,360.0,1.0,N,1,0,0,0,0,0,1
61,LP001206,Male,Yes,Graduate,No,3029,0.0,99.0,360.0,1.0,Y,0,0,1,0,0,0,1
68,LP001238,Male,Yes,Not Graduate,Yes,7100,0.0,125.0,60.0,1.0,Y,0,0,1,0,0,0,1
73,LP001250,Male,Yes,Not Graduate,No,4755,0.0,95.0,NaN,0.0,N,0,1,0,0,0,0,1
74,LP001253,Male,Yes,Graduate,Yes,5266,1774.0,187.0,360.0,1.0,Y,0,1,0,0,0,0,1
78,LP001263,Male,Yes,Graduate,No,3167,4000.0,180.0,300.0,0.0,N,0,1,0,0,0,0,1
79,LP001264,Male,Yes,Not Graduate,Yes,3333,2166.0,130.0,360.0,NaN,Y,0,1,0,0,0,0,1
109,LP001384,Male,Yes,Not Graduate,No,2071,754.0,94.0,480.0,1.0,Y,0,1,0,0,0,0,1
126,LP001448,NaN,Yes,Graduate,No,23803,0.0,370.0,360.0,1.0,Y,1,0,0,0,0,0,1
135,LP001488,Male,Yes,Graduate,No,4000,7750.0,290.0,360.0,1.0,N,0,1,0,0,0,0,1
155,LP001536,Male,Yes,Graduate,No,39999,0.0,600.0,180.0,0.0,Y,0,1,0,0,0,0,1
171,LP001585,NaN,Yes,Graduate,No,51763,0.0,700.0,300.0,1.0,Y,0,0,1,0,0,0,1
172,LP001586,Male,Yes,Not Graduate,No,3522,0.0,81.0,180.0,1.0,N,1,0,0,0,0,0,1
177,LP001610,Male,Yes,Graduate,No,5516,11300.0,495.0,360.0,0.0,N,0,1,0,0,0,0,1
202,LP001682,Male,Yes,Not Graduate,No,3992,0.0,NaN,180.0,1.0,N,0,0,1,0,0,0,1
211,LP001711,Male,Yes,Graduate,No,3430,1250.0,128.0,360.0,0.0,N,0,1,0,0,0,0,1
213,LP001715,Male,Yes,Not Graduate,Yes,5703,0.0,130.0,360.0,1.0,Y,1,0,0,0,0,0,1
215,LP001720,Male,Yes,Not Graduate,No,3850,983.0,100.0,360.0,1.0,Y,0,1,0,0,0,0,1
255,LP001846,Female,No,Graduate,No,3083,0.0,255.0,360.0,1.0,Y,1,0,0,0,0,0,1
257,LP001854,Male,Yes,Graduate,No,5250,0.0,94.0,360.0,1.0,N,0,0,1,0,0,0,1
259,LP001864,Male,Yes,Not Graduate,No,4931,0.0,128.0,360.0,NaN,N,0,1,0,0,0,0,1
267,LP001882,Male,Yes,Graduate,No,4333,1811.0,160.0,360.0,0.0,Y,0,0,1,0,0,0,1
295,LP001949,Male,Yes,Graduate,NaN,4416,1250.0,110.0,360.0,1.0,Y,0,0,1,0,0,0,1
321,LP002053,Male,Yes,Graduate,No,4342,189.0,124.0,360.0,1.0,Y,0,1,0,0,0,0,1
324,LP002065,Male,Yes,Graduate,No,15000,0.0,300.0,360.0,1.0,Y,1,0,0,0,0,0,1
338,LP002113,Female,No,Not Graduate,No,1830,0.0,NaN,360.0,0.0,N,0,0,1,0,0,0,1
340,LP002115,Male,Yes,Not Graduate,No,2647,1587.0,173.0,360.0,1.0,N,1,0,0,0,0,0,1
343,LP002126,Male,Yes,Not Graduate,No,3173,0.0,74.0,360.0,1.0,Y,0,1,0,0,0,0,1
352,LP002141,Male,Yes,Graduate,No,2666,2083.0,95.0,360.0,1.0,Y,1,0,0,0,0,0,1
359,LP002160,Male,Yes,Graduate,No,5167,3167.0,200.0,360.0,1.0,Y,0,1,0,0,0,0,1
376,LP002219,Male,Yes,Graduate,No,8750,4996.0,130.0,360.0,1.0,Y,1,0,0,0,0,0,1
390,LP002255,Male,No,Graduate,No,9167,0.0,185.0,360.0,1.0,Y,1,0,0,0,0,0,1
391,LP002262,Male,Yes,Graduate,No,9504,0.0,275.0,360.0,1.0,Y,1,0,0,0,0,0,1
409,LP002317,Male,Yes,Graduate,No,81000,0.0,360.0,360.0,0.0,N,1,0,0,0,0,0,1
442,LP002418,Male,No,Not Graduate,No,4707,1993.0,148.0,360.0,1.0,Y,0,1,0,0,0,0,1
461,LP002484,Male,Yes,Graduate,No,7740,0.0,128.0,180.0,1.0,Y,0,0,1,0,0,0,1
466,LP002500,Male,Yes,Not Graduate,No,2947,1664.0,70.0,180.0,0.0,N,0,0,1,0,0,0,1
472,LP002519,Male,Yes,Graduate,No,4691,0.0,100.0,360.0,1.0,Y,0,1,0,0,0,0,1
481,LP002536,Male,Yes,Not Graduate,No,3095,0.0,113.0,360.0,1.0,Y,1,0,0,0,0,0,1
515,LP002659,Male,Yes,Graduate,No,3466,3428.0,150.0,360.0,1.0,Y,1,0,0,0,0,0,1
522,LP002692,Male,Yes,Graduate,Yes,5677,1424.0,100.0,360.0,1.0,Y,1,0,0,0,0,0,1
531,LP002720,Male,Yes,Graduate,No,4281,0.0,100.0,360.0,1.0,Y,0,0,1,0,0,0,1
539,LP002740,Male,Yes,Graduate,No,6417,0.0,157.0,180.0,1.0,Y,1,0,0,0,0,0,1
557,LP002795,Male,Yes,Graduate,Yes,10139,0.0,260.0,360.0,1.0,Y,0,1,0,0,0,0,1
567,LP002837,Male,Yes,Graduate,No,3400,2500.0,123.0,360.0,0.0,N,1,0,0,0,0,0,1
574,LP002863,Male,Yes,Graduate,No,6406,0.0,150.0,360.0,1.0,N,0,1,0,0,0,0,1
592,LP002933,NaN,No,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Y,0,1,0,0,0,0,1
600,LP002949,Female,No,Graduate,NaN,416,41667.0,350.0,180.0,NaN,N,0,0,1,0,0,0,1
602,LP002953,Male,Yes,Graduate,No,5703,0.0,128.0,360.0,1.0,Y,0,0,1,0,0,0,1
610,LP002979,Male,Yes,Graduate,No,4106,0.0,40.0,180.0,1.0,Y,1,0,0,0,0,0,1

In [ ]:
train.dtypes

In [ ]:
obj_cols = [col for col in train.columns[train.dtypes=='object']]
obj_cols.remove('Loan_ID')

for col in obj_cols:
    print(f"Column: {col}")
    print(f"Unique values: {train[col].unique()}\n")

## Encoding

In [ ]:
ntrain = train.copy()
print(ntrain.shape)

In [ ]:
# Gender
ntrain.loc[ntrain.Gender == 'Male', 'Gender'] = 0
ntrain.loc[ntrain.Gender == 'Female', 'Gender'] = 1
print(ntrain.shape)

# Married
ntrain.loc[ntrain.Married == 'No', 'Married'] = 0
ntrain.loc[ntrain.Married == 'Yes', 'Married'] = 1
print(ntrain.shape)

# Education
ntrain.loc[ntrain.Education == 'Not Graduate', 'Education'] = 0
ntrain.loc[ntrain.Education == 'Graduate', 'Education'] = 1
print(ntrain.shape)

# Self_Employed
ntrain.loc[ntrain.Self_Employed == 'No', 'Self_Employed'] = 0
ntrain.loc[ntrain.Self_Employed == 'Yes', 'Self_Employed'] = 1
print(ntrain.shape)

# Loan_Status
ntrain.loc[ntrain.Loan_Status == 'N', 'Loan_Status'] = 0
ntrain.loc[ntrain.Loan_Status == 'Y', 'Loan_Status'] = 1
print(ntrain.shape)

ntrain.head()

In [ ]:
# Property_Area
ntrain.loc[ntrain.Property_Area == 'Urban', 'Property_Area'] = 1
ntrain.loc[ntrain.Property_Area == 'Rural', 'Property_Area'] = 2
ntrain.loc[ntrain.Property_Area == 'Semiurban', 'Property_Area'] = 3

ntrain.head()

In [ ]:
import numpy as np

corr = ntrain.corr()
mask_ut=np.triu(np.ones(corr.shape)).astype(np.bool)
plt.figure(figsize=(8,6))
sns.heatmap(corr, annot=True, mask=mask_ut)

In [ ]:
from sklearn.preprocessing import LabelBinarizer
binarizer = LabelBinarizer()

# Property_Area
results = binarizer.fit_transform(train["Property_Area"])
property_area_encoded = pd.DataFrame(results, columns=binarizer.classes_)

# Dependents
ntrain.Dependents = ntrain.Dependents.astype(str)
results = binarizer.fit_transform(ntrain["Dependents"])
dependents_encoded = pd.DataFrame(results, columns=binarizer.classes_)

ntrain = pd.concat([ntrain, property_area_encoded, dependents_encoded], axis=1, sort=False)
ntrain.drop('Property_Area', axis=1, inplace=True)
ntrain.drop('Dependents', axis=1, inplace=True)
ntrain.drop('nan', axis=1, inplace=True)

ntrain.head()

In [ ]:
train.head()

In [ ]:
plt.figure(figsize=(14,12))
sns.swarmplot(data=train[train.ApplicantIncome<30000], x='Property_Area', y='ApplicantIncome', hue='Married')

In [ ]:
plt.figure(figsize=(14,12))
sns.countplot(data=train[train.ApplicantIncome<30000], x='Gender', hue='Married')

In [ ]:
train[:50]

In [ ]:
for col in train.columns:
    print(f"{col}: {train[train[col].isnull()].count()[0]}")

In [ ]:
train[train['Married'].isnull()]

In [ ]:
ntrain = train.copy()

# Gender
ntrain.loc[ntrain.Gender == 'Male', 'Gender'] = 0
ntrain.loc[ntrain.Gender == 'Female', 'Gender'] = 1
print(ntrain.shape)

# Married
ntrain.loc[ntrain.Married == 'No', 'Married'] = 0
ntrain.loc[ntrain.Married == 'Yes', 'Married'] = 1
print(ntrain.shape)

# Education
ntrain.loc[ntrain.Education == 'Not Graduate', 'Education'] = 0
ntrain.loc[ntrain.Education == 'Graduate', 'Education'] = 1
print(ntrain.shape)

# Self_Employed
ntrain.loc[ntrain.Self_Employed == 'No', 'Self_Employed'] = 0
ntrain.loc[ntrain.Self_Employed == 'Yes', 'Self_Employed'] = 1
print(ntrain.shape)

# Loan_Status
ntrain.loc[ntrain.Loan_Status == 'N', 'Loan_Status'] = 0
ntrain.loc[ntrain.Loan_Status == 'Y', 'Loan_Status'] = 1
print(ntrain.shape)

ntrain.loc[ntrain.Property_Area == 'Urban', 'Property_Area'] = 1
ntrain.loc[ntrain.Property_Area == 'Rural', 'Property_Area'] = 2
ntrain.loc[ntrain.Property_Area == 'Semiurban', 'Property_Area'] = 3

ntrain[obj_cols] = ntrain[obj_cols].apply(pd.to_numeric, errors='coerce')

ntrain.head()

In [ ]:
ntrain.dtypes

In [ ]:
import numpy as np
plt.figure(figsize=(14,12))
corr = ntrain.corr()
mask_ut=np.triu(np.ones(corr.shape)).astype(np.bool)
sns.heatmap(corr,annot=True, mask=mask_ut, cmap='Reds', fmt='.2f')

In [ ]:
corr[(corr>0.15) & (corr != 1)]

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

train = pd.read_csv('./data/train.csv')
train.head()

In [ ]:
obj_cols = [col for col in train.columns[train.dtypes=='object']]
obj_cols.remove('Loan_ID')

ntrain = train.copy()

# Gender
ntrain.loc[ntrain.Gender == 'Male', 'Gender'] = 0
ntrain.loc[ntrain.Gender == 'Female', 'Gender'] = 1
print(ntrain.shape)

# Married
ntrain.loc[ntrain.Married == 'No', 'Married'] = 0
ntrain.loc[ntrain.Married == 'Yes', 'Married'] = 1
print(ntrain.shape)

# Education
ntrain.loc[ntrain.Education == 'Not Graduate', 'Education'] = 0
ntrain.loc[ntrain.Education == 'Graduate', 'Education'] = 1
print(ntrain.shape)

# Self_Employed
ntrain.loc[ntrain.Self_Employed == 'No', 'Self_Employed'] = 0
ntrain.loc[ntrain.Self_Employed == 'Yes', 'Self_Employed'] = 1
print(ntrain.shape)

# Loan_Status
ntrain.loc[ntrain.Loan_Status == 'N', 'Loan_Status'] = 0
ntrain.loc[ntrain.Loan_Status == 'Y', 'Loan_Status'] = 1
print(ntrain.shape)

ntrain.loc[ntrain.Property_Area == 'Urban', 'Property_Area'] = 1
ntrain.loc[ntrain.Property_Area == 'Rural', 'Property_Area'] = 2
ntrain.loc[ntrain.Property_Area == 'Semiurban', 'Property_Area'] = 3

ntrain[obj_cols] = ntrain[obj_cols].apply(pd.to_numeric, errors='coerce')

ntrain.head()

In [ ]:
data = ntrain.select_dtypes(exclude=['object'])
data

In [ ]:
X = data.iloc[:, :-1]
y = data['Loan_Status']
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=0)

In [ ]:
X_train.isnull().sum()

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

def score_dataset(X_train, X_val, y_train, y_val):
    model = RandomForestRegressor(n_estimators = 10, random_state=0)
    model.fit(X_train, y_train)
    prediction = model.predict(X_val)
    return mean_absolute_error(y_val, prediction)

In [ ]:
# Get names of columns with missing values
cols_with_missing = [col for col in X_train.columns if X_train[col].isnull().any()]
# Drop columns in training and validation data
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_val = X_val.drop(cols_with_missing, axis=1)

print("MAE from Approach 1: ")
print(score_dataset(reduced_X_train, reduced_X_val, y_train, y_val))

In [ ]:
reduced_X_train

In [ ]:
train

In [ ]:
train[['LoanAmount', 'Loan_Amount_Term', 'Loan_Status']]

In [ ]:
train['Loan_Amount_Term'].unique()

### Column Description
* **Loan_ID** -	Unique Loan ID
* **Gender** -	Male/ Female
* **Married** -	Applicant married (Y/N)
* **Dependents** -	Number of dependents
* **Education** -	Applicant Education (Graduate/ Under Graduate)
* **Self_Employed** -	Self employed (Y/N)
* **ApplicantIncome** -	Applicant income
* **CoapplicantIncome** -	Coapplicant income
* **LoanAmount** -	Loan amount in thousands
* **Loan_Amount_Term** -	Term of loan in months
* **Credit_History** -	credit history meets guidelines
* **Property_Area** -	Urban/ Semi Urban/ Rural
* **Loan_Status** -	(Target) Loan approved (Y/N)

In [ ]:
import matplotlib.pyplot as plt
from pylab import *

sns.set(rc={'figure.figsize': (12,6)})

subplot(1,2,1)
plt.title('Approved')
sns.barplot(data=train[train.Loan_Status=='Y'], y='LoanAmount', x='Loan_Amount_Term', palette='Blues', errwidth=1)

subplot(1,2,2)
plt.title('Disapproved')
sns.barplot(data=train[train.Loan_Status=='N'], y='LoanAmount', x='Loan_Amount_Term', palette='Reds', errwidth=1)

plt.show()

In [ ]:
sns.barplot(data=train, y='LoanAmount', x='Loan_Amount_Term', hue='Loan_Status', errwidth=1)

In [ ]:
train = ntrain.copy()
print("Correlation between columns: \n")

for col in train.columns[1:]:
    if col != train.columns[-1]:
        i = train.columns.get_loc(col)
        while train.columns[i] != train.columns[-2]:
            next_col = train.columns[i+1]
            corr = train[col].corr(train[next_col])
            if abs(corr) > 0.1:
                print(f"{col} & {next_col}: {corr:.3f}%")
            i += 1